
#wpwrap {
    background: whitesmoke;
}
#adminmenuback {
    background-color: #222 !important;

}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
    background-color: #333;
}

#titlediv {
    margin-bottom: 1em;
}

p {
    color: #252525 !important;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 1em 0;
}