html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body.print-pdf {
  /* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and
   manipulate this file as you see fit. */
  /* SECTION 1: Set default width, margin, float, and
     background. This prevents elements from extending
     beyond the edge of the printed page, and prevents
     unnecessary background images from printing */
  /* SECTION 2: Remove any elements not needed in print.
     This would include navigation, ads, sidebars, etc. */
  /* SECTION 3: Set body font face, size, and color.
     Consider using a serif font for readability. */
  /* SECTION 4: Set heading font face, sizes, and color.
     Differentiate your headings from your body text.
     Perhaps use a large sans-serif for distinction. */
  /* SECTION 5: more reveal.js specific additions by @skypanther */
  /* Slide backgrounds are placed inside of their slide when exporting to PDF */
  /* All elements should be above the slide-background */ }
  body.print-pdf * {
    -webkit-print-color-adjust: exact; }
  body.print-pdf body {
    margin: 0 auto !important;
    border: 0;
    padding: 0;
    float: none !important;
    overflow: visible; }
  body.print-pdf html {
    width: 100%;
    height: 100%;
    overflow: visible; }
  body.print-pdf .nestedarrow,
  body.print-pdf .reveal .controls,
  body.print-pdf .reveal .progress,
  body.print-pdf .reveal .slide-number,
  body.print-pdf .reveal .playback,
  body.print-pdf .reveal.overview,
  body.print-pdf .fork-reveal,
  body.print-pdf .share-reveal,
  body.print-pdf .state-background {
    display: none !important; }
  body.print-pdf h1, body.print-pdf h2, body.print-pdf h3, body.print-pdf h4, body.print-pdf h5, body.print-pdf h6 {
    text-shadow: 0 0 0 #000 !important; }
  body.print-pdf .reveal pre code {
    overflow: hidden !important;
    font-family: Courier, 'Courier New', monospace !important; }
  body.print-pdf ul, body.print-pdf ol, body.print-pdf div, body.print-pdf p {
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    display: block;
    overflow: visible;
    margin: auto; }
  body.print-pdf .reveal {
    width: auto !important;
    height: auto !important;
    overflow: hidden !important; }
  body.print-pdf .reveal .slides {
    position: static;
    width: 100%;
    height: auto;
    left: auto;
    top: auto;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
    display: block;
    -webkit-perspective: none;
    -ms-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    /* there isn't a none/auto value but 50-50 is the default */
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%; }
  body.print-pdf .reveal .slides section {
    page-break-after: always !important;
    visibility: visible !important;
    position: relative !important;
    display: block !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    min-height: 1px;
    opacity: 1 !important;
    -webkit-transform-style: flat !important;
    -ms-transform-style: flat !important;
    transform-style: flat !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; }
  body.print-pdf .reveal section.stack {
    margin: 0 !important;
    padding: 0 !important;
    page-break-after: avoid !important;
    height: auto !important;
    min-height: auto !important; }
  body.print-pdf .reveal img {
    box-shadow: none; }
  body.print-pdf .reveal .roll {
    overflow: visible;
    line-height: 1em; }
  body.print-pdf .reveal section .slide-background {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
  body.print-pdf .reveal section > * {
    position: relative;
    z-index: 1; }
/*# sourceMappingURL=wp-presenter.css.map */