.content {
  width: 100%;

  .first-column,
  .second-column {
    float: left;
  }
  .column {
    float: left;
    width: 100%;
    padding: 2%;
  }
  .column.half {
    width: 46%;
  }
}

#iframe {
  h2 {
    display: none;
  }
}